{% extends "base.html" %}

{% block content %}


    <form action="" method="post" novalidate>

      {{ form.hidden_tag() }}

      <table>
        <tr>
          <td>{{ form.ticker.label }}</td>
          <td>{{ form.quantity.label }}</td>
        </tr>
        <tr>
          <td>{{ form.ticker(size = 20) }} </td>
          <td>{{ form.quantity(size = 10) }}</td>
        </tr>
      </table>

      <p> {{ form.submit() }} </p>

      <hr>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <table>
        <tr>
          {% for message in messages %}
          <td>{{ message }}</td>
          {% endfor %}
        </tr>
      </table>
      {% endif %}
      {% endwith %}

    </form>

{% endblock %}
